<% if object.errors.any? %>
  <div id="error_explanation">
    <h3>下記のエラーが発生しました:</h3>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>