/* リセットCSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* 空白や不要なスペースを削除 */
:focus {
  outline: 0;
}

/* ブラウザのデフォルトスタイルをリセット */
body, button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* インライン要素が続いたときに生じる余白を削除 */
a img {
  border: none;
}

/* テーブルのセル内余白を削除 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 全体に適用するボックスサイジング */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


.win-percentage-table-container {
  max-height: 900px; /* 適切な高さに調整してください */
  overflow-y: auto;
  margin-left: 10px;
}

.container {
  display: flex;
  min-height: 100vh;
}

 .horse-list {
      list-style-type: none;
li {
     margin-bottom: 5px;
    font-size: 14px;
  }
}

.horse-list a {
  text-decoration: none; /* 下線を消す */
  color: inherit; /* 親要素のテキスト色を継承する */
}

.horse-list a:hover {
  color: inherit; /* マウスオーバー時も親要素のテキスト色を継承する */
}

.jockey-list a {
  text-decoration: none; /* 下線を消す */
  color: inherit; /* 親要素のテキスト色を継承する */
}

.jockey-list a:hover {
  color: inherit; /* マウスオーバー時も親要素のテキスト色を継承する */
}

header h1 a {
  text-decoration: none; /* 下線を消す */
  color: #fff; /* リンクのテキスト色を白に設定 */
}

.sidebar {
  width: 200px;
  background-color: #f2f2f2;
  border-right: 1px solid #ccc;
  padding: 20px;

  .menu {
    margin-bottom: 20px;

    h3 {
      font-size: 18px;
      margin-bottom: 10px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      cursor: pointer;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 10px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #000;
        transition: transform 0.3s;
        transform: rotate(0deg);
      }

      &.collapsed::after {
        transform: rotate(-180deg);
      }
    }
    

    .toggle-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s;

      &.collapsed {
        max-height: none;
      }
    }
  }
}

.horse-list.collapsed {
  display: none;
}

.jockey-list.collapsed {
  display: none;
}



main {
  flex: 1;
  padding: 20px;
}

// 入力フォームのスタイル
form {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="number"]{
    width: 10%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  input[type="date"] {
    width: 10%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
.win-percentage {
  position: absolute;
  top: 130px; /* ヘッダーの高さに合わせて調整してください */
  left: 1300px;
  z-index: 1; /* ヘッダーよりも手前に表示するために z-index を指定します */
}

.win-percentage-table {
  width: 70%; /* テーブルの幅を100%に設定します */
  table-layout: fixed; /* テーブルのレイアウトを固定に設定します */
  border-collapse: collapse;
}

.win-percentage-table th,
.win-percentage-table td {
  padding: 8px; /* セルのパディングを調整してください */
  text-align: center; /* セルのテキストを中央に配置します */
  border: 1px solid #000; 
}

.win-percentage-table th {
  background-color: #A5D8FF; /* ヘッダーの背景色を設定します */
  font-weight: bold; /* ヘッダーのテキストを太字にします */
  color: #000; /* ヘッダーのテキストの色を設定します */
}

.win-percentage-table td {
  background-color: #F5F5F5; /* セルの背景色を設定します */
  color: #000; /* セルのテキストの色を設定します */
}

// データ表示テーブルのスタイル
table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 8px;
    border: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }
}

header {
  background-color: #008000;
  color: #fff;
  padding:20px;
  border-bottom: 5px solid #000;
  font-size: 30px;
}

.meal-table{
  overflow: scroll; /* スクロールする */
  white-space: nowrap; /* 自動改行しない */
  width: 900px;
  height: 500px;
  padding: 5px;
  box-sizing: border-box;
}

/* フッター */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #008000;
  color: #fff;
  padding: 20px;
  border-top: 5px solid #000;
  text-align: center;
}
.content {
  margin-left: 220px; /* サイドメニューの幅 + マージン */
  padding: 20px;
  height: 100%; /* サイドメニューの高さに合わせる */
  overflow: auto; /* メインコンテンツがサイドメニューの高さを超えた場合にスクロールバーを表示 */
}

table.race-results-table {
  width: 40%;
  margin-left: 20px;
  border-collapse: collapse;
}

table.race-results-table th,
table.race-results-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

table.race-results-table th {
  background-color: #f2f2f2;
  text-align: left;
}

table.race-results-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table.race-results-table tr:hover {
  background-color: #e9e9e9;
}

.placement-percentage-table {
  width: 350%;
  border-collapse: collapse;
  margin-top: 10px;
}

.placement-percentage-table th,
.placement-percentage-table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

.placement-percentage-table th {
  background-color: #A5D8FF;
}

.back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #008000;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 20px;
}

.back-button:hover {
  background-color: #c0392b;
}

#error_explanation {
  color: red;
  font-weight: bold;
}
#error_explanation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#error_explanation li {
  color: red;
}